.ModalBackground {
    background-color: rgba(130, 156, 208, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(244, 166, 166);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }